.Auth {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 1rem;
    position: relative;
  }
  
  /* .Auth > div {
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  
  
  
  /* left side */
  .a-left{
      gap: 2rem;
      width: 50%;
  }
  
  .a-left > img {
    width: 4rem;
    height: 4rem;
  }
  
  .a-right{
    width: 50%;
  }

  .infoForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  
  .infoInput{
    border: none;
    outline: none;
    background-color: var(--inputColor);
    border-radius: 8px;
    padding: 20px;
    flex:1;
    width: 100%;
  }
  
  .infoButton{
    width: 6rem;
    height: 2rem;
    align-self: flex-end;
  }
  
  
  .authForm{
      background-color: var(--cardColor);
      border-radius: 1rem;
  }
  
  .authForm>div{
      width: 100%;
      align-items: center;
      justify-content: center;
  }

  